/* 
used colour 
#E18585
#F9C7BA
#FFD7C7
#F3B6AD
#EDA69F
#E79592.
*/
*{
    padding: 0;
    margin: 0;
}

/* for header */
.container{
    width: 100%;
    background-color: #F9C7BA;
    height: auto;
}
.padding-container{
    padding: 0 45px;
}
.header-container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: #e66e6e;
    align-items: center;
}
.header-container h1{
    border: 5px double #FFD7C7;
    padding: 1px 8px;
    color: #FFD7C7;
}
.profile{
    width: 40px;
    aspect-ratio: 1;
    display: flex;
}
.profile img{
    width: 100%;
    height: 100%;
    filter: invert(0.95);
}
.cart{
    width: 34px;
    aspect-ratio: 1;
    display: flex;
    
    /* color: #e66e6e; */
}
.cart img{
    width: 100%;
    height: 100%;
    filter: invert(0.95);
}
.navbar{
    width: 55%;
    display: flex;
    justify-content: space-around;
}
.search-container{
    background-color: #e66e6e;
    width: 20%;
    height: 30%;
    border-radius: 10px;
        display: flex;
        align-items: center;
    
}
#search{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 12px 12px;
    /* background-color: #FFD7C7; */
}
#search:focus-visible{
    outline: none;
}
#search::placeholder{
    color: #e66e6e;
    font-size: 15px;
}
.menu-btn{
    width: 40px;
    /* aspect-ratio: 1; */
    display: none;
    /* display: flex;
    height: 100%; */
}
.menu-btn img{
    width: 100%;
    height: 100%;
}
.navbar a{
    text-decoration: none;
    font-size: 19px;
    /* color: #FFD7C7; */
    color: white;
    text-transform: capitalize;
}
.hero-section{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    place-items: center;
    gap: 15px;
}
.hero-grid-img{
    width: 99.5%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.hero-grid-img img{
    width: 100%;
    height: 96%;
    border-radius: 10px;
}

/* main section */
.main-section{
    background-color: #FFD7C7;
}
.brand-heading{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 15px;
    gap: 2.5px;
    border-bottom: 1px solid #e66e6e;
}
.brand-heading h1{
    color: #bb3d3d;
    font-size: 30px;
    font-weight: 900;
}
.brand-heading h3{
    color: #ce4e4e;
    font-size: 20px;
}
.main-grid-img{
    width: 99.5%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.main-grid-img img{
    width: 100%;
    height: 96%;
    border-radius: 10px;
}
.category{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    place-items: center;
    /* gap: px; */
    /* margin: 80px 0; */
    padding: 80px 35px 60px;
}
.categories{
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}
.categories .category-img{
    width: 170px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories .category-img img{
    width: 99%;
    height: 99%;
    border-radius: 50%;
}
.category-text{
    font-size: 23px;
    text-transform: capitalize;
}


/* category sec */
.category-sec{
    background-color: #FFD7C7;
}

/* trending sec */
.trending-sec{
    background-color: #FFD7C7;
}
.trending-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    gap: 10px;
}
.trending{
    /* border: 1px solid black; */
    width: 250px;
    /* height: 411px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 0; */
    gap: 15px;
    margin: 10px 0;
}
.trending-image{
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;    
}
.trending-image img{
    width: 98%;
    height: 100%;
    border-radius: 10px;
}
.trending-name{
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.prices{
    display: flex;
    gap: 9px;
}
.removed-price{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.384);
}
.real-price{
    color: #de3c72;
    font-weight: 600;
    font-size: 17px;
}
.cart1{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}
.cart1 button{
    padding: 10px 90px;
    background-color: #e4395b;
    color: white;
    font-weight: 800;
}
.trending:hover{
    transition: all 0.5s ease;
    box-shadow: 0 0 5px#bb3d3d;
    transform: scale(1.05);
}
#btn:hover{
    background-color: #ef244c;
    color: rgb(255, 241, 241);
}

/* combos sec */
.combos-sec{
    /* background-color: #F3B6AD; */
    /* background-color: #EDA69F; */
}
.combos-sec .trending{
    height: 450px;
    justify-content: space-around;
}
.combos-sec .trending{
    box-shadow: none;
}
.combos-sec{
    padding-bottom: 15px;
}

/* blog section */
.blog-section{
    /* background-color: #EDA69F; */
    background-image: linear-gradient(to bottom,#FFD7C7, #e38e86);
    padding-bottom: 30px;
}
.blog-section h1{
    color: #b73535;
}
.blog-section h3{
    color: #b73535;
}
.blog-section .trending{
    width: 400px; 
    text-align: center;
}
.blog-section .trending-image{
    display: flex;
    justify-content: center;
    width: 110%;
    aspect-ratio: 16/9;    
}
.trending-image img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}
.blog-section .trending:hover{
    box-shadow: none;
    transform: scale(1.03);
}
.blog-section .trending-name{
    font-size: 17.9px;
    color: #6b0000;
}
.blog-section .para{
    font-size: 18px;
    color: #6f0303;
}
.blog-section #btn{
    background-color: #6b0000;
}
a{
    display: inline-block;
    text-decoration: none;
}

/* footer sec */
.footer-sec{
    background-image: linear-gradient(to bottom,#e38e86,#e66e6e);
    /* background-color: #e66e6e; */
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.5fr 0.85fr 1.3fr;
    gap: 35px;
    padding: 50px 0;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-content h3{
    font-size: 18px;
    letter-spacing: 0.1px;
    font-weight: 800;
    color: #6b0000;
}
.footer-content p{
    font-size: 16px;
    color: #6b0000;
    font-weight: 500;
    letter-spacing: 0.9px;
    line-height: 20px;
}
.social{
    display: flex;
    gap: 10px;
    /* justify-content: space-around; */
}
.footer-img-container img{
 width: 100%;
 height: 100%;
 /* filter: grayscale(60%); */
}
.footer-img-container{
    width: 30px;
    aspect-ratio: 1;
}
.help-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.help-container a{
    font-size: 16px;
    color: #6b0000;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 20px;
}
.email-input{
    background-color: #E58482;
    outline: none;
    border: none;
    padding: 15px 0;
    color: #6b0000;
    border-bottom: 1px solid #6b0000;
}
.email-input::placeholder{
    color: #6b0000;
}
.footer-btn{
    width: 150px;
    padding: 10px 12px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #6b0000;
    /* color: #E58482; */
    color: #f4aeae;
    border: none;
    border-radius: 10px;
}
button{
    cursor: pointer;
}
@media screen and (max-width:1425px){
    
    .blog-section .trending{
        width: 380px; 
    }
}
@media screen and (max-width:1333px){
    .trending{
        width: 230px;
    }

    .blog-section .trending{
        width: 350px; 
    }
}

@media screen and (max-width:1258px) {
    
    .hero-grid-img img{
        height: 99%;
    }
    .hero-grid-img{
        height: 600px;
        margin: 20px 10px;
    }
    
    .search-container{
        width: 16%
    }
    #search::placeholder{
        font-size: 100%;
    }
    .profile{
        width: 34px;
    }
    .cart{
        width: 28px;
    }
    /* main section */
    .category{
        grid-template-columns: repeat(5,1fr);
        row-gap: 25px;
    }
    .trending{
        width: 200px;
    }
    .trending-grid{
        padding: 10px;
    }
    #btn{
        padding: 9px 75px;
    }

    .blog-section .trending{
        width: 300px; 
    }
}
@media screen and (max-width:1070px) {
    .trending{
        width: 180px;
    }
    #btn{
        padding: 9px 68px;
    }
    .trending-name{
        font-size: 13px;
    }
    .blog-section .trending{
        width: 275px; 
    }
}
@media screen and (max-width:992px) {
    
    .hero-section{
        grid-template-columns: repeat(2,1fr);
    }
    .hero-grid-img{
        height: 500px;
        margin: 8px 0;
    }
    .hero-grid-img img{
        height: 99.5%;
    }
    .header-container{
        justify-content: space-around;
    }
    .search-container{
        width: 35%;
    }
    .navbar{
        display: none;
    }
    .menu-btn{
        display: flex;
        align-items: center;
    }
    .hero-grid-img:nth-child(1){
        margin-top: 15px;
    }
    .hero-grid-img:nth-child(2){
        margin-top: 15px;
    }
    .padding-container{
        padding: 0 25px;
    }
    .hero-section{
        gap: 10px;
    }

    /* main-section */
    .main-section .brand-heading{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .main-section .main-grid-img:nth-child(1){
        margin-top: 15px;
    }
    .main-section .main-grid-img:nth-child(2){
        margin-top: 15px;
    }
    .main-section .main-grid-img{
        margin: 8px; 
    }
    .category{
        grid-template-columns: repeat(4,1fr);
        padding: 60px 35px 40px;
    }
    /* trending sec */
    .trending-sec .brand-heading{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .trending-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .trending{
        width: 190px;
    }
    #btn{
        padding: 9px 60px;
    }
    .trending-name{
        font-size: 12px;
    }

    /* combo sec */
    .combos-sec .trending{
        height: 400px;
        justify-content: space-around;
    }

    .blog-section .trending{
        width: 360px; 
    }
}
@media screen and (max-width:835px){
    .trending{
        width: 160px;
    }
    #btn{
        padding: 9px 55px;
    }
    .combos-sec .trending{
        height: 340px;
        justify-content: space-around;
    }
    .blog-section .trending{
        width: 310px; 
    }
}
@media screen and (max-width:719px){
    .category{
        grid-template-columns: repeat(3,1fr);
    }
    .trending-grid{
        grid-template-columns: repeat(3,1fr);
    }
    .trending{
        width: 160px;
    }
    .combos-sec .trending{
        height: 340px;
        justify-content: space-between;
    }
    .blog-section .trending{
        width: 250px; 
    }
}

@media screen and (max-width:600px) {
    .hero-section{
        grid-template-columns: repeat(1,1fr);
    }
    .hero-grid-img{
        height: 400px;
        margin: 8px;
    }
    .hero-grid-img img{
        height: 99%;
    }
    .heading h1{
        font-size: 20px;
    }
    .search-container{
        width: 35%;
        height: 15%;
    }
    #search::placeholder{
        font-size: 90%;
    }
    .profile {
        width: 29px;
    }
    .cart{
        width: 24px;
    }
    .hero-grid-img:nth-child(1){
        margin-top: 15px;
    }
    .padding-container{
        padding: 0 25px;
    }
    .hero-section{
        gap: 0;
    }

    /* main-section */
    .main-section .brand-heading{
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .main-section .brand-heading h1{
        font-size: 28px;
    }
    .main-section .brand-heading h3{
        font-size: 15px;
    }
    .main-section .main-grid-img:nth-child(1){
        margin-top: 15px;
    }
    .main-section .main-grid-img{
        margin: 8px;
    }
    .category{
        padding: 60px 35px 40px;
        grid-template-columns: repeat(2,1fr);
        
    }
    /* trending section */
    .trending-sec .brand-heading{
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .trending-sec .brand-heading h1{
        font-size: 28px;
    }
    .trending-sec .brand-heading h3{
        font-size: 15px;
    }
    .trending{
        width: 135px;
    }
    .trending-name{
        font-size: 10.5px;
    }
    #btn{
        padding: 8px 42px;
    }
    /* combo sec */
    .combos-sec .trending{
        height: 310px;
        justify-content: space-around;
    }
    .blog-section .trending{
        width: 390px; 
    }
}
@media screen and (max-width:453px) {
    .hero-grid-img{
        height: 350px;
        margin: 8px;
        
    }
    .hero-grid-img:nth-child(1){
        margin-top: 15px;
    }
    .hero-grid-img img{
        height: 99%;
    }
    .heading h1{
        font-size: 15px;
    }
    .search-container{
        width: 35%;
        height: 10%;
    }
    #search::placeholder{
        font-size: 80%;
    }
    .cart .profile{
        width: 10px;
    }
    .padding-container{
        padding: 0 15px;
    }
    .hero-section{
        gap: 0;
    }

    /* main-section */
    .main-section .brand-heading{
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .main-section .brand-heading h1{
        font-size: 25px;
    }
    .main-section .brand-heading h3{
        font-size: 17px;
    }
    .main-section .main-grid-img:nth-child(1){
        margin-top: 15px;
    }
    .main-section .main-grid-img{
        margin: 5px;
    }
    .category{
        padding: 50px 35px 30px;
    }
    .trending-sec .brand-heading h1{
        font-size: 25px;
    }
    .trending-sec .brand-heading h3{
        font-size: 17px;
    }
    .trending-sec .brand-heading{
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .trending-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .trending{
        width: 150px;
    }
    #btn{
        padding: 6px 40px;
    }
    /* combo sec */
    .combos-sec .trending{
        height: 300px;
        justify-content: space-around;
    }
    .blog-section .trending{
        width: 340px; 
    }
}
@media screen and (max-width:378px) {
    .category{
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
    }
    .trending{
        width: 125px;
    }
    #btn{
        padding: 6px 37px;
    }
    .trending-name{
        font-size: 8px;
    }
    .combos-sec .trending{
        height: 280px;
        justify-content: space-around;
    }
    .blog-section .trending{
        width: 300px; 
    }
}